{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": 0,
    "no-continue": 0,
    "no-restricted-syntax": 0,
  }
}
